* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #14141b;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header {
  width: 100%;
  padding: 20px 8%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #343444;
}

header p {
  color: #c68de7;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 25px;
}

nav a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #c68de7;
}

/* INÍCIO */

.body {
  text-align: center;
  padding: 70px 8%;
}

.body h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.pe {
  color: #bdbdbd;
  font-size: 18px;
  margin-bottom: 40px;
}

/* IMAGEM + BOTÃO */

.imagem-container {
  position: relative;

  width: 100%;
  max-width: 740px;

  margin: 0 auto;
}

.imagem-container img {
  display: block;

  width: 100%;
  height: auto;

  border-radius: 5px;
}

/* BOTÃO */

.btn {
  position: absolute;

  bottom: 20px;
  left: 20px;

  z-index: 10;

  background-color: #b66de3;
  color: white;

  padding: 12px 20px;

  font-size: 16px;
  font-weight: bold;

  border: none;
  border-radius: 8px;

  cursor: pointer;

  transition: 0.3s ease;
}

.btn:hover {
  background-color: #6b00b3;
  transform: scale(1.05);
}

/* CONTEÚDO */

.conteudo {
  max-width: 1000px;
  margin: 0 auto;

  padding: 30px 8%;
}

.textogran {
  margin-top: 80px;
  margin-bottom: 30px;

  font-family:
    "Franklin Gothic Medium",
    "Arial Narrow",
    Arial,
    sans-serif;

  color: #c68de7;
}

.conteudo p {
  color: #ddd;
  line-height: 1.7;
  font-size: 17px;
  margin-bottom: 20px;
}

/* LISTA */

.conteudo ul {
  padding-left: 25px;
  color: #ddd;
  line-height: 2;
}

/* CARDS */

.conhecimentos {
  padding: 70px 8%;
  text-align: center;
}

.conhecimentos h2 {
  font-size: 36px;
  margin-bottom: 15px;
}

.descricao {
  font-size: 18px;
  margin-bottom: 40px;
  color: #bdbdbd;
}

.cards {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 25px;

  max-width: 1200px;

  margin: auto;
}

.card {
  background: #1c1c25;

  border: 1px solid #343444;

  border-radius: 15px;

  padding: 25px;

  text-align: left;

  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);

  border-color: #b66de3;

  box-shadow:
    0 10px 25px rgba(182, 109, 227, 0.2);
}

.card h3 {
  color: #c68de7;

  font-size: 20px;

  margin-bottom: 15px;
}

.card p {
  color: #ddd;

  line-height: 1.6;

  font-size: 15px;
}
.tecnologias {
  padding: 30px 0;
}

.tecnologias p {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.tecnologias-lista {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
  width: 100%;
  justify-content: center;
  color: white;
}

.tecnologias-lista button {
  background-color: #ca8ae4;
  color: #000000;

  border: none;
  border-radius: 30px;

  padding: 11px 16px;

  font-size: 15px;

  white-space: nowrap;

  cursor: pointer;
}